extends page

block head
    link(rel="stylesheet", href="/css/users.css", type="text/css")
    script(src="/js/news.js")

block content 
    div(class="some-list user-intro")
    div(class="some-list user-news")