extends page

block head
    link(rel="stylesheet", href="/css/user.css", type="text/css")
    link(rel="stylesheet", href="/css/users.css", type="text/css")
    script(src="/js/account.js")

block content
    div(class="white-block user-intro")
    div(class="white-block user-information")
    div(class="white-block user-posts")