extends page

block head
    link(rel="stylesheet", href="/css/users.css", type="text/css")
    script(src="/js/user.js")

block content
    div(class="some-list user-intro")
    div(class="some-list user-information")
    div(class="some-list user-posts")