.usersList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.postContainer {
  background-color: #323232;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.headerContainer {
  background-color: #323232;
  padding: 10px;
  border: 1px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.postContainer > .topBlock {
  display: flex;
}
.postContainer > img {
  width: 300px;
  height: auto;
}
.postContainer > .topBlock > .userInfo > p,
.postContainer > .topBlock > .userInfo > h3,
.formDiv > p,
.postContainer > .msgContainer > p,
.postContainer > .msgContainer > h3 {
  color: white;
}
.usersList > .headerContainer > h1 {
  color: white;
  text-align: center;
}
.postContainer > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
