* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F0F0F0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: white;
}

.logo__text {
  padding-left: 5px;
  font-size: 24px;
  font-weight: 600;
}

.black-text {
  color: rgb(10, 9, 12);
}

.main-panel {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.center {
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
}

.white-block {
  background-color: white;
  border-radius: 20px;
  padding: 30px 44px;
  box-sizing: border-box;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  color: #F0F0F0;
  height: 36px;
  width: 220px;
  background-color: #005196; /* Основной цвет кнопки */
  border: none; /* Без границы */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  /* transition: background-color 0.3s ease, transform 0.2s; Плавный переход цвета фона и трансформации */
}

.button:hover {
  color: white;
  background-color: #014480; /* Цвет кнопки при наведении */
  /* transform: translateY(-2px); Небольшая анимация при наведении */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: white;
}
