.post {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 0.5px solid rgb(152, 152, 152);
    padding-bottom: 8px;
    box-sizing: border-box;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__intro {
    display: flex;
    align-items: center;
}

.post__user-img {
    width: 50px;
    height: 50px;
}

.post__img-container {
    display: flex;
    justify-content: center;
}

.post__img {
    width: 55%;
}

.post__date-container {
    display: flex;
    flex-direction: row-reverse;
}

.post__date {
    color: rgb(152, 152, 152);
}
