.users {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user__info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user__img {
  border-radius: 50%;
  object-fit: cover;
  width: 88px;
  height: 88px;
  margin-right: 32px;
}

.user__name {
  font-size: 16px;
  font-weight: 500;
}

.user__buttons {
  display: flex;
  justify-content: space-between;
}

.post-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.msg-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-block,
.post-intro {
  display: flex;
}

.top-block > img,
.post-intro > img,
.user > .top-block > img,
.user-intro > .top-block > img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
  object-fit: cover;
}

.post-img {
  display: flex;
  justify-content: center;
}

.post-img > img {
  width: 65%;
}

.user-intro > .top-block > img {
  width: 130px;
  height: 130px;
  margin: 22px 0px;
  margin-left: 44px;
}

.post-intro > img {
  width: 50px;
  height: 50px;
}

.info-block > .info-text > p,
.message > p,
.post-info > p,
.msg > p,
.user-info > p,
.formDiv > p {
  color: rgb(12, 10, 9);
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.msg {
  margin-top: 25px;
  margin-bottom: 10px;
}

.post-info {
  display: flex;
  justify-content: flex-end;
}

.post-info > p {
  color: rgb(75, 75, 75);
  font-size: 14px; 
}

.top-block,
.post-intro {
  align-items: center;
  padding-bottom: 10px;
}

.user-info,
.message {
  padding-left: 32px;
}

.message {
  color: rgb(75, 75, 75);
  padding-top: 10px;
}

.user-intro > .top-block > .user-info > p {
  font-size: 24px;
}

.user > .top-block > .user-info > p > a {
  color: rgb(10, 9, 12);
  text-decoration: none;
}
.user > .top-block > .user-info > p > a:hover {
  text-decoration: underline;
}


.user-info > p,
.user-info > p > a {
  font-weight: 600;
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
}
.formDiv > #close {
  background-color: red;
  position: absolute;
  top: 10px;
  right: 10px;
}
.formDiv > #sub {
  background-color: greenyellow;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
} 
input {
  background-color: white;
}
.bottom-block > #edit {
  margin-right: 50px;
  border-radius: 10px;
}

#delete-msg {
  color: white;
  padding: 5px 40px; /* Отступы для кнопок */
  background-color: #005196; /* Основной цвет кнопки */
  border: none; /* Без границы */
  border-radius: 10px; /* Скругление углов */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  /* transition: background-color 0.3s ease, transform 0.2s; Плавный переход цвета фона и трансформации */
}

#delete-msg {
  background-color: #014480; /* Цвет кнопки при наведении */
  /* transform: translateY(-2px); Небольшая анимация при наведении */
}
