.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user__info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user__img {
  border-radius: 50%;
  object-fit: cover;
  width: 88px;
  height: 88px;
  margin-right: 32px;
}

.user__name {
  font-size: 16px;
  font-weight: 500;
}

.user__buttons {
  display: flex;
  justify-content: space-between;
}
